            <p>Desenvolvido e construído por <a href="https://github.com/jhpyle">Jonathan Pyle</a><br>
              Código Licenciado sob
              <a rel="license" href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>,
              documentação sob <a rel="license" href="https://creativecommons.org/licenses/by/3.0/deed.pt_BR" target="_blank">CC BY 3.0</a>.
            </p>
            <p>Tradução para o Português do Brasil por <a href="https://github.com/rvnovaes">Roberto Novaes</a></p>
